<br />
<div class="container">
  <div class="row">
    <div class="col-6">
      <button mat-icon-button (click)="loadBefore()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      {{ this.currentIndex + 1 }} of {{ this.instances?.length }}
      <button (click)="loadNext()" mat-icon-button>
        <mat-icon>navigate_next</mat-icon>
      </button>

      <mat-button-toggle-group
        name="fontStyle"
        [(ngModel)]="mode"
        aria-label="Font Style"
      >
        <mat-button-toggle value="brush">
          <mat-icon>edit</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="erase">
          <mat-icon>cleaning_services</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <button (click)="save()" mat-icon-button>
        <mat-icon>save_alt</mat-icon>
      </button>
      <button (click)="play()" mat-icon-button>
        <mat-icon *ngIf="!isPlaying">play_circle_filled</mat-icon>
        <mat-icon *ngIf="isPlaying">pause_circle_filled</mat-icon>
      </button>
    </div>
    <div class="col-2">
      Brightness
      <mat-slider
        thumbLabel
        step="0.05"
        min="-1"
        [(ngModel)]="brightenLevel"
        (ngModelChange)="onBrightnessChange()"
        max="1"
      ></mat-slider>
    </div>
    <div class="col-2">
      Noise
      <mat-slider
        thumbLabel
        step="0.1"
        min="0"
        [(ngModel)]="noiseLevel"
        (ngModelChange)="onNoiseChange()"
        max="4"
      ></mat-slider>
    </div>
    <div class="col-2">
      Mask
      <mat-slider
        thumbLabel
        step="1"
        min="0"
        [(ngModel)]="maskLevel"
        (ngModelChange)="onMaskChange()"
        max="100"
      ></mat-slider>
    </div>
    <div class="col-12"><mat-divider></mat-divider></div>
    <div class="col-12">
      <div id="container"></div>
    </div>
  </div>
</div>
